@import './base.css';

/* Add any additional global styles here */

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--vt-c-white);
}
